[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
crispy-bootstrap5 = "==2023.10"
django = "==5.0.1"
django-crispy-forms = "==2.1"

[dev-packages]

[requires]
python_version = "3.10"
