* {
    margin: 0 0;
    padding: 0 0;
    box-sizing: border-box;
    font-family: 'Libre Bodoni', serif;
}

/*Carousel*/

.carousel-inner img {
    opacity: 0.6;
}

.carousel-caption {
    color: black;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Libre Bodoni', serif;
    border-radius: 100%;
    margin-bottom: 200px;
}

.carousel-caption:hover {
    background-color: lightsteelblue !important;
    opacity: 0.5;
    transition: background-color 0.5s !important;
}

/*Categories*/

a {
    text-decoration: none !important;
}

.card-title {
    color: red;
    font-family: 'Libre Bodoni', serif;
    font-size: 20px;
}

#h {
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: navy;
    font-size: 40px;
    font-family: 'Cormorant Garamond', serif;
    font-weight: bolder;
}

#h::after {
    content: '';
    background: red;
    width: 280px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

#c:hover {
    transform: scale(1.1);
    transition: transform 0.5s;
}

.card {
    cursor: pointer;
}

.card-img-top {
    object-fit: cover;
}

#l {
    font-size: 1.3em;
}