* {
    margin: 0 0;
    padding: 0 0;
    box-sizing: border-box;
    font-family: 'Libre Bodoni', serif;
}

/* menu items */

.card-text {
    font-family: 'Cormorant Garamond', serif;
}

.col-lg-3 {
    display: flex;
    flex-direction: row;
}

#crd:hover {
    cursor: pointer;
}

/*Category headings*/

#cat {
    margin: 20px auto 30px;
    position: relative;
    line-height: 60px;
    color: navy;
    font-size: 50px;
    font-family: 'Cormorant Garamond', serif;
    font-weight: bolder;
}