.navbar-brand {
    font-size: 30px;
    font-family: 'Dancing Script', cursive;
    font-weight: bolder;
}

.navbar-brand:hover,
.nav-link:hover {
    color: aquamarine !important;
    transform: scale(1.1);
    transition: transform 0.5s;
}

.navbar-nav>li {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.dropdown-menu {
    text-align: center;
}

.dropdown-item:hover {
    background-color: maroon;
    color: aquamarine;
}

.nav-link {
    font-size: 20px;
    font-family: 'Cormorant Garamond', serif;
}