{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}
<div class="col d-flex justify-content-center" id="login_card_reg">
    <div class="card shadow" id="br">
        <div class="card-body" id="crd_body">
            <h1 id="login"><b><i class="fa fa-user-plus" aria-hidden="true"></i>&nbsp;&nbsp;Register</b></h1>
            <form method="POST">
                {% csrf_token %}
                {{ register_form|crispy }}
                <button class="btn btn-primary" type="submit">Register</button>
            </form>
            <div class="mt-4">
                <p id="l">Already have an account ?&nbsp;&nbsp;<a href="{%url 'login'%}" id="reg_now">Login Now!</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
